[Desktop Entry]
Name=NovaPlay
Exec=novaplay-run %u
Terminal=true
Type=Application
Icon=xyz.novaplay.NovaPlay
StartupWMClass=NovaPlay
Comment=Web3 game launcher from the future
MimeType=x-scheme-handler/novaplay;
Categories=Game;
